/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_rating_control.sass */
.rating-control {
  width: 100%;
}
/* line 9, ../sass/_rating_control.sass */
.rating-control .star {
  display: block;
  cursor: pointer;
  float: left;
  font-size: 40px;
  color: grey;
  margin: 0px;
  padding: 0px;
}
/* line 17, ../sass/_rating_control.sass */
.rating-control .star:before {
  content: "\2605";
}
/* line 19, ../sass/_rating_control.sass */
.rating-control .star.starred {
  color: gold;
}
/* line 21, ../sass/_rating_control.sass */
.rating-control .star:hover:before {
  color: #ffff80;
}
/* line 23, ../sass/_rating_control.sass */
.rating-control .star:hover ~ :before {
  color: grey;
}
/* line 25, ../sass/_rating_control.sass */
.rating-control:hover > .star {
  color: gold;
}

/* line 7, ../sass/_progressbar.sass */
.progressbar {
  display: inline-block;
  background-color: white;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width: 300px;
}
/* line 16, ../sass/_progressbar.sass */
.progressbar span {
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  width: 100%;
}
/* line 23, ../sass/_progressbar.sass */
.progressbar div {
  background-color: #6acb26;
  border-radius: 10px;
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%;
}

/* line 4, ../sass/_button.sass */
.button, .backButton {
  display: inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: red;
  box-shadow: none;
  color: black;
  font-size: 14px;
  text-underline: none;
  text-align: center;
  text-decoration: none;
  padding: 3px 25px;
}

/* line 1, ../sass/_browsers_list.sass */
.browsers_list {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 5, ../sass/_browsers_list.sass */
.browsers_list li {
  display: block;
  float: left;
  cursor: pointer;
  font-size: 16px;
  height: 135px;
  opacity: 0.6;
  line-height: 135px;
  text-align: center;
  width: 130px;
}
/* line 15, ../sass/_browsers_list.sass */
.browsers_list li:last-child {
  float: right;
}
/* line 17, ../sass/_browsers_list.sass */
.browsers_list li:before {
  background: url("../images/browsers.png") no-repeat 0 0;
  content: "";
  display: block;
  height: 135px;
  position: absolute;
  width: 130px;
}
/* line 24, ../sass/_browsers_list.sass */
.browsers_list li.mozilla:before {
  background-position: -130px 0px;
}
/* line 26, ../sass/_browsers_list.sass */
.browsers_list li.opera:before {
  background-position: -260px 0px;
}
/* line 28, ../sass/_browsers_list.sass */
.browsers_list li.safary:before {
  background-position: -390px 0px;
}
/* line 30, ../sass/_browsers_list.sass */
.browsers_list li.ie:before {
  background-position: -513px 0px;
}
/* line 32, ../sass/_browsers_list.sass */
.browsers_list li.chrome {
  color: #e40000;
}
/* line 34, ../sass/_browsers_list.sass */
.browsers_list li.chrome .green {
  color: #00bc3a;
}
/* line 36, ../sass/_browsers_list.sass */
.browsers_list li.chrome .yellow {
  color: #ffef80;
}
/* line 38, ../sass/_browsers_list.sass */
.browsers_list li.mozilla {
  color: #fea300;
}
/* line 40, ../sass/_browsers_list.sass */
.browsers_list li.opera {
  color: red;
}
/* line 42, ../sass/_browsers_list.sass */
.browsers_list li.safary {
  color: #747474;
}
/* line 44, ../sass/_browsers_list.sass */
.browsers_list li.ie {
  color: #74bddc;
}

/* line 1, ../sass/_simple_text.sass */
.simple_text {
  padding: 10px;
}
/* line 3, ../sass/_simple_text.sass */
.simple_text h3 {
  font-size: 24px;
  padding: 0px 0px 15px 10px;
}
/* line 6, ../sass/_simple_text.sass */
.simple_text .two_colums {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 48%;
  -webkit-column-gap: 48%;
  column-gap: 48%;
  display: inline-block;
  max-height: 290px;
  text-align: left;
  vertical-align: top;
  min-width: 920px;
  overflow: hidden;
}
/* line 14, ../sass/_simple_text.sass */
.simple_text .two_colums p {
  display: block;
  text-indent: 15px;
  padding: 0px 5% 10px 10px;
}
/* line 18, ../sass/_simple_text.sass */
.simple_text .two_colums ul {
  position: relative;
  padding-left: 10px;
  width: 45%;
}
/* line 22, ../sass/_simple_text.sass */
.simple_text .two_colums ul li {
  margin: 5px 0;
}
/* line 24, ../sass/_simple_text.sass */
.simple_text .two_colums ul li:before {
  position: absolute;
  content: " - ";
  left: 0px;
}
/* line 28, ../sass/_simple_text.sass */
.simple_text .two_colums ul li.underlined {
  display: inline;
  border-bottom: 1px dashed #999999;
}

/* line 27, ../sass/style.sass */
body {
  background-color: white;
  padding: 50px;
}

/* line 31, ../sass/style.sass */
ul, div {
  display: block;
}

/* line 34, ../sass/style.sass */
h2 {
  font-size: 22px;
  padding-left: 10px;
}

/* line 38, ../sass/style.sass */
.backButton {
  background-color: whitesmoke;
  position: fixed;
  top: 5px;
  left: 5px;
}

/* line 45, ../sass/style.sass */
.siteMapContainer {
  display: inline-block;
  width: 200px;
}
/* line 48, ../sass/style.sass */
.siteMapContainer li {
  display: inline-block;
  background-color: grey;
  border: 1px solid white;
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 55, ../sass/style.sass */
.siteMapContainer li:hover {
  background-color: whitesmoke;
}
/* line 57, ../sass/style.sass */
.siteMapContainer li:hover a {
  background-color: whitesmoke;
  color: grey;
}
/* line 60, ../sass/style.sass */
.siteMapContainer li a {
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  color: whitesmoke;
  width: 100%;
}
