/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_rating_control.sass */
.rating-control {
  width: 100%;
}
/* line 9, ../sass/_rating_control.sass */
.rating-control .star {
  display: block;
  cursor: pointer;
  float: left;
  font-size: 40px;
  color: grey;
  margin: 0px;
  padding: 0px;
}
/* line 17, ../sass/_rating_control.sass */
.rating-control .star:before {
  content: "\2605";
}
/* line 19, ../sass/_rating_control.sass */
.rating-control .star.starred {
  color: gold;
}
/* line 21, ../sass/_rating_control.sass */
.rating-control .star:hover:before {
  color: #ffff80;
}
/* line 23, ../sass/_rating_control.sass */
.rating-control .star:hover ~ :before {
  color: grey;
}
/* line 25, ../sass/_rating_control.sass */
.rating-control:hover > .star {
  color: gold;
}

/* line 7, ../sass/_progressbar.sass */
.progressbar {
  display: inline-block;
  background-color: white;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width: 300px;
}
/* line 16, ../sass/_progressbar.sass */
.progressbar span {
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  width: 100%;
}
/* line 23, ../sass/_progressbar.sass */
.progressbar div {
  background-color: #6acb26;
  border-radius: 10px;
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%;
}

/* line 4, ../sass/_button.sass */
.button {
  display: inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: none;
  color: black;
  font-size: 14px;
  text-underline: none;
  text-align: center;
  text-decoration: none;
  padding: 3px 25px;
}

/* line 14, ../sass/style.sass */
body {
  background-color: white;
  padding: 20px;
}

/* line 18, ../sass/style.sass */
div {
  display: block;
}
