.browsers_list
	display: inline-block
	border-radius: 5px
	position: relative
	width: 100%
	&.black
		background-color: black
	&.grey
		background-color: grey
	&.no_imgs li:before
		background: none
	li
		display: block
		float: left
		cursor: pointer
		font-size: 16px
		height: 135px
		line-height: 135px
		text-align: center
		width: 130px
		&:last-child
			float: right
		&:before
			background: url("../images/browsers.png") no-repeat 0 0
			content: ''
			display: block
			height: 135px
			position: absolute
			width: 130px
		&.mozilla:before
			background-position: -130px 0px
		&.opera:before
			background-position: -260px 0px
		&.safary:before
			background-position: -390px 0px
		&.ie:before
			background-position: -513px 0px
		&.chrome
			color: #e40000
			.green
				color: #00bc3a
			.yellow
				color: #ffef80
		&.mozilla
			color: #fea300
		&.opera
			color: #ff0000
		&.safary
			color: #747474
		&.ie
			color: #74bddc
