$button_color: red
$button_border_color: #D0D0D0

.button
	display: inline-block
	border: 1px solid $button_border_color
	border-radius: 8px
	background-color: $button_color
	box-shadow: none
	color: $text_color
	font-size: 14px
	text-underline: none
	text-align: center
	text-decoration: none
	padding: 3px 25px
