$star_content: "\2605"
$star_starred: gold
$star_hovered: #FFFF80
$star_normal: grey
$star_size: 40px

.rating-control
	width: 100%
	.star
		display: block
		cursor: pointer
		float: left
		font-size: $star_size
		color: $star_normal
		margin: 0px
		padding: 0px
		&:before
			content: $star_content
		&.starred
			color: $star_starred
		&:hover:before
			color: $star_hovered
		&:hover ~ :before
			color: $star_normal
	&:hover > .star
		color: $star_starred

