/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


$body_color: white
$text_color: black
$link_color: whitesmoke
$main_container_color: green
$menu_item_color: grey


@import "compass/reset"
@import "_mixins"
@import "_rating_control"
@import "_progressbar"
@import "_button"
@import "_browsers_list"
@import "_simple_text"



body
	background-color: $body_color
	padding: 50px

ul, div
	display: block

h1
	font-size: 22px
	text-indent: 5px
	margin-bottom: 5px



.mainContainer
	background-color: $main_container_color
	width: 100%
	.siteMapMenu
		@include add_item_selecting($menu_item_color, $link_color)
		display: inline-block
		float: left
		width: 15%
		li
			display: inline-block
			border: 1px solid white
			float: left
			overflow: hidden
			width: 100%
			a
				display: block
				height: 100%
				text-decoration: none
				font-size: 20px
				padding: 5px
				width: 100%
	.description
		display: inline-block
		background-color: grey
		float: left
		margin-left: 5px
		padding: 10px
		width: 80%
		ul li
			padding: 3px
			font-size: 20px
			&:hover
				color: black
			a
				@extend .button
				@include add_gradient(grey, black, black)
				background-color: black
				color: $link_color
				height: 20px
			
