/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$body_color: white
$text_color: black
$link_color: whitesmoke

@mixin make_columns ($colums-number, $colums_width)
	-moz-column-count: $colums-number
	-webkit-column-count: $colums-number
	column-count: $colums-number
	-moz-column-gap: $colums_width
	-webkit-column-gap: $colums_width
	column-gap: $colums_width


@import "compass/reset"
@import "_rating_control"
@import "_progressbar"
@import "_button"
@import "_browsers_list"
@import "_simple_text"


body
	background-color: $body_color
	padding: 50px

ul, div
	display: block

h2
	font-size: 22px
	padding-left: 10px

.backButton
	@extend .button
	background-color: whitesmoke
	position: fixed
	top: 5px
	left: 5px

.siteMapContainer
	display: inline-block
	width: 200px
	li
		display: inline-block
		background-color: grey
		border: 1px solid white
		float: left
		overflow: hidden
		width: 100%
		&:hover
			background-color: $link_color
			a
				background-color: $link_color
				color: grey
		a
			display: block
			height: 100%
			text-decoration: none
			font-size: 20px
			padding: 5px
			color: $link_color
			width: 100%
				